.paplayer {
  position:relative;
  overflow:hidden;
  user-select:none;
  line-height:1;

  &:-webkit-full-screen {
    width:100%;
    height:100%;
    background:#000;

    .paplayer-danmaku {
      .paplayer-danmaku-top,
      .paplayer-danmaku-bottom {
        &.paplayer-danmaku-move {
          animation:danmaku-center 6s linear;
          animation-play-state:paused;
        }
      }

      .paplayer-danmaku-right {
        &.paplayer-danmaku-move {
          animation:danmaku 8s linear;
          animation-play-state:paused;
        }
      }
    }
  }

  &.paplayer-no-danmaku {
    .paplayer-controller .paplayer-icons .paplayer-setting .paplayer-setting-box {
      height:.6rem;
    }

    .paplayer-controller .paplayer-icons .paplayer-comment {
      display:none;
    }

    .paplayer-danmaku {
      display:none;
    }
  }

  &.paplayer-playing {

    .paplayer-danmaku .paplayer-danmaku-move {
      animation-play-state:running !important;
    }

    @media (min-width:900px) {
      .paplayer-controller-mask {
        opacity:0;
      }
      .paplayer-controller {
        opacity:0;
      }

      &:hover {
        .paplayer-controller-mask {
          opacity:1;
        }
        .paplayer-controller {
          opacity:1;
        }
      }
    }
  }

  &.paplayer-loading {
    .paplayer-bezel .diplayer-loading-icon {
      display:block;
    }

    .paplayer-danmaku .paplayer-danmaku-move {
      animation-play-state:paused !important;
    }
  }

  &.paplayer-hide-controller {
    .paplayer-controller-mask {
      opacity:0;
      transform:translateY(100%);
    }
    .paplayer-controller {
      opacity:0;
      transform:translateY(100%);
    }
  }
  &.paplayer-show-controller {
    .paplayer-controller-mask {
      opacity:1;
    }
    .paplayer-controller {
      opacity:1;
    }
  }

  .paplayer-mask {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    display:none;

    &.paplayer-mask-show {
      display:block;
    }
  }

  .ali_icon {
    width:1em; height:1em;
    vertical-align:-0.15em;
    fill:currentColor;
    overflow:hidden;
  }

  .paplayer-video-wrap {
    position:relative;
    background:#000;
    font-size:0;
    width:100%;
    height:100%;

    .paplayer-video {
      width:100%;
      height:100%;
    }
  }

  .paplayer-danmaku {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    font-size:.22rem;
    color:#fff;

    .paplayer-danmaku-item {
      display:inline-block;
      pointer-events:none;
      user-select:none;
      cursor:default;
      white-space:nowrap;
      font-weight:bolder;
      text-shadow:.05rem .05rem .05rem rgba(0,0,0,.5);

      &--demo {
        position:absolute;
        visibility:hidden;
      }
    }

    .paplayer-danmaku-right {
      position:absolute;
      right:0;
      transform:translateX(100%);

      &.paplayer-danmaku-move {
        will-change:transform;
        animation:danmaku 5s linear;
        animation-play-state:paused;
      }
    }

    @keyframes danmaku {
      from {
        transform:translateX(100%);
      }
    }

    .paplayer-danmaku-top,
    .paplayer-danmaku-bottom {
      position:absolute;
      width:100%;
      text-align:center;
      visibility:hidden;

      &.paplayer-danmaku-move {
        will-change:visibility;
        animation:danmaku-center 4s linear;
        animation-play-state:paused;
      }
    }

    @keyframes danmaku-center {
      from {
        visibility:visible;
      }
      to {
        visibility:visible;
      }
    }
  }

  .paplayer-bezel {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    font-size:.22rem;
    color:#fff;
    pointer-events:none;

    .paplayer-fill {
      fill:rgba(255,255,255,.8);
    }

    .paplayer-bezel-icon {
      position:absolute;
      top:50%;
      left:50%;
      margin:-.26rem 0 0 -.26rem;
      height:.52rem;
      width:.52rem;
      padding:.12rem;
      background:rgba(0,0,0,.5);
      border-radius:50%;
      opacity:0;
      pointer-events:none;

      &.paplayer-bezel-transition {
        animation:bezel-hide .5s linear;
      }

      @keyframes bezel-hide {
        from {
          opacity:1;
          transform:scale(1);
        }
        to {
          opacity:0;
          transform:scale(2);
        }
      }
    }

    .paplayer-danloading {
      position:absolute;
      top:50%;
      margin-top:-.07rem;
      width:100%;
      text-align:center;
      font-size:.14rem;
      line-height:.14rem;
      animation:my-face 5s infinite ease-in-out;
    }

    .diplayer-loading-icon {
      display:none;
      position:absolute;
      top:50%;
      left:50%;
      margin:-.18rem 0 0 -.18rem;
      height:.36rem;
      width:.36rem;
      pointer-events:none;

      .diplayer-loading-hide {
        display:none;
      }

      .diplayer-loading-dot {
        animation:diplayer-loading-dot-fade .8s ease infinite;
        opacity:0;
        fill:#fff;
        transform-origin:.04rem .04rem;

        @for $i from 7 through 1 {
          &.diplayer-loading-dot-#{$i} {
            animation-delay:.1s * $i;
          }
        }
      }

      @keyframes diplayer-loading-dot-fade {
        0% {
          opacity:.7;
          transform:scale(1.2,1.2)
        }
        50% {
          opacity:.25;
          transform:scale(.9,.9)
        }
        to {
          opacity:.25;
          transform:scale(.85,.85)
        }
      }
    }
  }

  .paplayer-controller-mask {
	background-image:linear-gradient(to top, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
    height:.98rem;
    width:100%;
    position:absolute;
    bottom:0;
    transition:all .3s ease;
  }

  .paplayer-controller {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:.41rem;
    padding:0;
    user-select:none;
    transition:all .3s ease;

    .paplayer-bar-wrap {
      padding:.05rem 0;
      cursor:pointer;
      position:absolute;
	  left:.1rem; 
      bottom:.33rem;
      width:calc(100% - .2rem);
      height:.13rem;

      &:hover {
        .paplayer-thumb {
          transform:scale(1) !important;
        }
      }

      .paplayer-bar {
        position:relative;
        height:.03rem;
        width:100%;
        background:rgba(255,255,255,.2);
        cursor:pointer !important;

        .paplayer-loaded {
          position:absolute;
          left:0;
          top:0;
          bottom:0;
          background:rgba(255,255,255,.4);
          height:.03rem;
          transition:all .5s ease;
          will-change:width;
        }

        .paplayer-played {
          position:absolute;
          left:0;
          top:0;
          bottom:0;
          height:.03rem;
          will-change:width;

          .paplayer-thumb {
            position:absolute;
            top:0;
            right:.05rem;
            margin-top:-.04rem;
            margin-right:-.1rem;
            height:.11rem;
            width:.11rem;
            border-radius:50%;
            cursor:pointer !important;
            transition:all .3s ease-in-out;
            transform:scale(0);
          }
        }
      }
    }

    .paplayer-icons {
      height:.38rem;
      position:absolute;
      bottom:0;

      &.paplayer-icons-left {
        .paplayer-icon {
          padding:.07rem;
        }
      }
      &.paplayer-icons-right {
        right:.05rem;

        .paplayer-icon {
          padding:.08rem;
        }
      }

      #paplayer-menu {
        stroke:#ddd;
        stroke-width:.01rem;
      }

      .paplayer-time {
        line-height:.38rem;
        color:#eee;
        text-shadow:0 0 .02rem rgba(0,0,0,.5);
        vertical-align:middle;
        font-size:.13rem;
        cursor:default;
      }

      .paplayer-icon {
        width:.46rem;
        height:100%;
        border:none;
        background-color:transparent;
        outline:none;
        cursor:pointer;
        opacity:.8;
        transition:all .2s ease-in-out;
        vertical-align:middle;
        display:inline-block;

        &:hover {
          opacity:1;
        }

        &.paplayer-comment-icon {
          padding:.1rem .09rem .09rem;
        }

        &.paplayer-setting-icon {
          padding-top:.085rem;
        }
      }

      .paplayer-fill {
        fill:#fff;
      }

      .paplayer-volume {
        position:relative;
        display:inline-block;
        cursor:pointer !important;
        height:100%;

        &:hover {
          .paplayer-volume-bar {
            width:.45rem !important;
          }

          .paplayer-thumb {
            transform:scale(1) !important;
          }
        }

        &.paplayer-volume-active {
          .paplayer-volume-bar {
            width:.45rem !important;
          }

          .paplayer-thumb {
            transform:scale(1) !important;
          }
        }

        .paplayer-volume-bar-wrap {
          display:inline-block;
          margin:0 .05rem 0 -.05rem;
          vertical-align:middle;
          height:100%;

          .paplayer-volume-bar {
            position:relative;
            top:.17rem;
            width:0;
            height:.03rem;
            background:#aaa;
            transition:all .3s ease-in-out;

            .paplayer-volume-bar-inner {
              position:absolute;
              bottom:0;
              left:0;
              height:100%;
              transition:all .1s ease;
              will-change:width;

              .paplayer-thumb {
                position:absolute;
                top:0;
                right:.05rem;
                margin-top:-.04rem;
                margin-right:-.1rem;
                height:.11rem;
                width:.11rem;
                border-radius:50%;
                cursor:pointer !important;
                transition:all .3s ease-in-out;
                transform:scale(0);
              }
            }
          }
        }
      }

      .switch-clarity {
        position:relative;
        display:inline-block;
        height:100%;

        .paplayer-clarity-icon{
          padding:0;
          color:#fff;

          &.active{
            color:#FF8100;
          }
        }


        .ali_icon{
          width:.4rem;
          height:.3rem;
        }

        .paplayer-clarity-box {
          position:absolute;
          left:0;
          bottom:.5rem;
          background:rgba(28,28,28,.9);
          display:none;
        }
      }

      .paplayer-setting {
        display:inline-block;
        height:100%;

        .paplayer-setting-box {
          position:absolute;
          right:0;
          bottom:.5rem;
          transform:translateX(1.7rem);
          width:1.5rem;
          border-radius:.02rem;
          background:rgba(28,28,28,.9);
          padding:.07rem 0;
          transition:all .3s ease-in-out;
          overflow:hidden;
          z-index:2;

          &.paplayer-setting-box-open {
            transform:translateX(0);
          }

          &.paplayer-setting-box-narrow {
            width:.7rem;
            height:1.8rem;
            text-align:center;
          }
        }

        .paplayer-setting-item,
        .paplayer-setting-speed-item {
          height:.3rem;
		  overflow:hidden;
		  line-height:.3rem; 
          padding:0 .1rem;
          cursor:pointer;

          &:hover {
            background-color:rgba(255,255,255,.1);
          }
        }

        .paplayer-setting-danmaku {

          .paplayer-label {
            display:inline;
          }

          &:hover {
            .paplayer-label {
              display:none;
            }
            .paplayer-danmaku-bar-wrap {
              display:inline-block;
            }
          }

          &.paplayer-setting-danmaku-active {
            .paplayer-label {
              display:none;
            }
            .paplayer-danmaku-bar-wrap {
              display:inline-block;
            }
          }

          .paplayer-danmaku-bar-wrap {
            display:none;
            vertical-align:middle;
            height:100%;
            width:100%;

            .paplayer-danmaku-bar {
              position:relative;
              top:.13rem;
              width:100%;
              height:.03rem;
              background:#fff;
              transition:all .3s ease-in-out;

              .paplayer-danmaku-bar-inner {
                position:absolute;
                bottom:0;
                left:0;
                height:100%;
                transition:all .1s ease;
                background:#aaa;
                will-change:width;

                .paplayer-thumb {
                  position:absolute;
                  top:0;
                  right:.05rem;
                  margin-top:-.04rem;
                  margin-right:-.1rem;
                  height:.11rem;
                  width:.11rem;
                  border-radius:50%;
                  cursor:pointer !important;
                  transition:all .3s ease-in-out;
                  background:#aaa;
                }
              }
            }
          }
        }
      }

      .paplayer-comment {
        display:inline-block;
        height:100%;

        .paplayer-comment-box {
          position:absolute;
          right:.05rem;
          bottom:.5rem;
          transform:translateX(3.82rem);
          border-radius:.02rem;
          transition:all .3s ease-in-out;
          z-index:2;

          &.paplayer-comment-box-open {
            transform:translateX(0);
          }

          .paplayer-comment-setting-icon {
            height:.24rem;
            width:.24rem;
            position:absolute;
            top:.05rem;
            left:.07rem;
            padding:0;
            opacity:1;

            &:hover {
              .paplayer-fill {
                fill:#aaa;
              }
            }

            .paplayer-fill {
              transition:all .2s ease-in-out;
              fill:#ddd;
            }
          }

          .paplayer-comment-setting-box {
            position:absolute;
            background:#fff;
            bottom:.4rem;
            left:0;
            box-shadow:0 0 .25rem rgba(0,0,0,.3);
            border-radius:.04rem;
            padding:.03rem .06rem .08rem;
            font-size:.14rem;
            width:3rem;
            transition:all .3s ease-in-out;
            transform:scale(0);

            &.paplayer-comment-setting-open {
              transform:scale(1);
            }

            &::after {
              content:'';
              position:absolute;
              top:100%;
              left:.07rem;
              background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 12"><path fill="#FFF" d="M23.7,0c-1.2,0-2.4,0.5-3.2,1.3l-7.7,7.8c-0.4,0.4-1.1,0.4-1.5,0L3.5,1.3C2.7,0.5,1.5,0,0.3,0"/></svg>');
              width:.24rem;
              height:.12rem;
            }

            input[type=radio] {
              display:none;
            }

            label {
              cursor:pointer;
              display:inline !important;
              margin-bottom:0;
              font-weight:normal;
            }

            .paplayer-comment-setting-title {
              font-size:.12rem;
              color:#555;
              padding:.06rem .03rem;
            }

            .paplayer-comment-setting-type {
              font-size:0;
			  margin-top:.07rem; 

              label {
                &:nth-child(2) {
                  span {
                    border-radius:.04rem 0 0 .04rem;
                  }
                }
                &:nth-child(4) {
                  span {
                    border-radius:0 .04rem .04rem 0;
                  }
                }
              }

              span {
                width:33.3333%;
                padding:.05rem .06rem .04rem;
                line-height:.16rem;
                display:inline-block;
                font-size:.12rem;
                color:#555;
                border:1px solid #E4E4E6;
                text-align:center;
                cursor:pointer;
              }

              input:checked+span {
                background:#E4E4E6;
              }
            }

            .paplayer-comment-setting-color {
              font-size:0;

              label {
                font-size:0;
                padding:.06rem;
                display:inline-block;
                margin-bottom:0;
              }

			  label + label span { margin-left:.12rem; }

              span {
                width:.22rem;
                height:.22rem;
                display:inline-block;
                border-radius:50%;
                cursor:pointer;
				margin-top:.02rem; 
				margin-left:.06rem; 
				margin-right:.02rem;

                &:hover {
                  animation:my-face 5s infinite ease-in-out;
                  box-shadow:0 .02rem .02rem 0 rgba(0,0,0,.14),0 .03rem .01rem -.02rem rgba(0,0,0,.2),0 .01rem .05rem 0 rgba(0,0,0,.12);
                }
              }

              input:checked+span {
                box-shadow:0 .02rem .02rem 0 rgba(0,0,0,.14),0 .03rem .01rem -.02rem rgba(0,0,0,.2),0 .01rem .05rem 0 rgba(0,0,0,.12);
                border:none !important;
              }
            }
          }

          .paplayer-comment-input {
            outline:none;
            border:none;
            padding:.08rem .31rem;
            font-size:.14rem;
            line-height:.18rem;
            text-align:center;
            border-radius:.04rem;
            width:3.55rem;
            background:#fff;
            margin:0;
            height:auto;
          }

          .paplayer-send-icon {
            height:.22rem;
            width:.22rem;
            position:absolute;
            top:.06rem;
            right:.09rem;
            padding:0;
            opacity:1;

            &:hover {
              .paplayer-fill {
                fill:#aaa;
              }
            }

            .paplayer-fill {
              transition:all .2s ease-in-out;
              fill:#ddd;
            }
          }
        }
      }

      .paplayer-label {
        color:#eee;
        font-size:.13rem;
        display:inline-block;
        vertical-align:middle;
      }

      .paplayer-toggle {
        width:.32rem;
        height:.2rem;
		margin-top:.05rem; 
        text-align:center;
        display:inline-block;
        font-size:0;
        vertical-align:middle;
        float:right;

        input {
          max-height:0;
          max-width:0;
          display:none;
        }
        input + label {
          display:inline-block;
          position:relative; 
          box-shadow:rgb(223,223,223) 0 0 0 0 inset;
          border:1px solid rgb(223,223,223);
          height:.2rem;
          width:.32rem;
          border-radius:.1rem;
          cursor:pointer;
          transition:.2s ease-in-out;
        }

        input + label:before {
          content:"";
          position:absolute;
          display:block;
          height:.18rem;
          width:.18rem;
          top:0;
          left:0;
          border-radius:.15rem;
          transition:.2s ease-in-out;
        }

        input + label:after {
          content:"";
          position:absolute;
          display:block;
          left:0;
          top:0;
          border-radius:.15rem;
          background:#fff;
          transition:.2s ease-in-out;
          box-shadow:0 .01rem .03rem rgba(0,0,0,0.4);
          height:.18rem;
          width:.18rem;
        }

        input:checked + label {
          border-color:rgba(255,255,255,.5);
        }

        input:checked + label:before {
          width:.3rem;
          background:rgba(255,255,255,.5);
        }

        input:checked + label:after {
          left:.12rem;
        }
      }
    }
  }

  .paplayer-menu {
    position:absolute;
    width:1.5rem;
    border-radius:.02rem;
    background:rgba(28,28,28,.9);
    padding:.05rem 0;
    overflow:hidden;
    z-index:3;
    display:none;

    &.paplayer-menu-show {
      display:block;
    }

    .paplayer-menu-item {
      height:.3rem;
      padding:.05rem .1rem;
      cursor:pointer;

      &:hover {
        background-color:rgba(255,255,255,.1);
      }

      .paplayer-menu-label a {
        color:#eee;
        font-size:.13rem;
        display:inline-block;
        vertical-align:middle;
      }
    }
  }
}

@keyframes my-face {
  2% {
    transform:translate(0,1.5px) rotate(1.5deg);
  }
  4% {
    transform:translate(0,-1.5px) rotate(-0.5deg);
  }
  6% {
    transform:translate(0,1.5px) rotate(-1.5deg);
  }
  8% {
    transform:translate(0,-1.5px) rotate(-1.5deg);
  }
  10% {
    transform:translate(0,2.5px) rotate(1.5deg);
  }
  12% {
    transform:translate(0,-0.5px) rotate(1.5deg);
  }
  14% {
    transform:translate(0,-1.5px) rotate(1.5deg);
  }
  16% {
    transform:translate(0,-0.5px) rotate(-1.5deg);
  }
  18% {
    transform:translate(0,0.5px) rotate(-1.5deg);
  }
  20% {
    transform:translate(0,-1.5px) rotate(2.5deg);
  }
  22% {
    transform:translate(0,0.5px) rotate(-1.5deg);
  }
  24% {
    transform:translate(0,1.5px) rotate(1.5deg);
  }
  26% {
    transform:translate(0,0.5px) rotate(0.5deg);
  }
  28% {
    transform:translate(0,0.5px) rotate(1.5deg);
  }
  30% {
    transform:translate(0,-0.5px) rotate(2.5deg);
  }
  32% {
    transform:translate(0,1.5px) rotate(-0.5deg);
  }
  34% {
    transform:translate(0,1.5px) rotate(-0.5deg);
  }
  36% {
    transform:translate(0,-1.5px) rotate(2.5deg);
  }
  38% {
    transform:translate(0,1.5px) rotate(-1.5deg);
  }
  40% {
    transform:translate(0,-0.5px) rotate(2.5deg);
  }
  42% {
    transform:translate(0,2.5px) rotate(-1.5deg);
  }
  44% {
    transform:translate(0,1.5px) rotate(0.5deg);
  }
  46% {
    transform:translate(0,-1.5px) rotate(2.5deg);
  }
  48% {
    transform:translate(0,-0.5px) rotate(0.5deg);
  }
  50% {
    transform:translate(0,0.5px) rotate(0.5deg);
  }
  52% {
    transform:translate(0,2.5px) rotate(2.5deg);
  }
  54% {
    transform:translate(0,-1.5px) rotate(1.5deg);
  }
  56% {
    transform:translate(0,2.5px) rotate(2.5deg);
  }
  58% {
    transform:translate(0,0.5px) rotate(2.5deg);
  }
  60% {
    transform:translate(0,2.5px) rotate(2.5deg);
  }
  62% {
    transform:translate(0,-0.5px) rotate(2.5deg);
  }
  64% {
    transform:translate(0,-0.5px) rotate(1.5deg);
  }
  66% {
    transform:translate(0,1.5px) rotate(-0.5deg);
  }
  68% {
    transform:translate(0,-1.5px) rotate(-0.5deg);
  }
  70% {
    transform:translate(0,1.5px) rotate(0.5deg);
  }
  72% {
    transform:translate(0,2.5px) rotate(1.5deg);
  }
  74% {
    transform:translate(0,-0.5px) rotate(0.5deg);
  }
  76% {
    transform:translate(0,-0.5px) rotate(2.5deg);
  }
  78% {
    transform:translate(0,-0.5px) rotate(1.5deg);
  }
  80% {
    transform:translate(0,1.5px) rotate(1.5deg);
  }
  82% {
    transform:translate(0,-0.5px) rotate(0.5deg);
  }
  84% {
    transform:translate(0,1.5px) rotate(2.5deg);
  }
  86% {
    transform:translate(0,-1.5px) rotate(-1.5deg);
  }
  88% {
    transform:translate(0,-0.5px) rotate(2.5deg);
  }
  90% {
    transform:translate(0,2.5px) rotate(-0.5deg);
  }
  92% {
    transform:translate(0,0.5px) rotate(-0.5deg);
  }
  94% {
    transform:translate(0,2.5px) rotate(0.5deg);
  }
  96% {
    transform:translate(0,-0.5px) rotate(1.5deg);
  }
  98% {
    transform:translate(0,-1.5px) rotate(-0.5deg);
  }
  0%,100% {
    transform:translate(0,0) rotate(0deg);
  }
}